<h1> Enter a dollar amount and we'll break it into change! </h1>
<form action="/change">
  <div class="form-group">
    <label for='change'> Enter your amount here: </label>
    <input name='change' id="change" type="number" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Change!</button>
</form>
